.App {
  text-align: center;
}

.todo-data{
  margin: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: .5rem;
  cursor: pointer;
  width: 400px;
  overflow: auto;
  position: relative;
}

.border-success{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(2, 255, 116) 0px 0px 0px 3px;
}

